@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #c9a84c;
  --gold-light: #e8c97a;
  --dark: #0a0a0f;
  --dark-mid: #12121a;
  --dark-surface: #1a1a2e;
}

body {
  background-color: var(--dark);
  color: #ffff;
  font-family: 'Georgia', serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 2px;
}